/* ================================================
                  DEFAULT VALUES:

                  Font family:   Roboto Condensed

                  Greenish Blue: #34c6d3 (Buttons, Icons, Lines & Bckgrounds)
                  Steel Gray:  #41464b (Headings)
                  Blue Bayoux: #64707b (Paragraphs)
                  white: #fff (text with black backgrounds)
                  Black: #000 ()
              




==================================================== */


/* General CSS */
html, body {
  height:   100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* ================================================
                  HOME
==================================================== */
#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../img/bg-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}





















/* bootstrap demo */
/* .col-1 {background-color: red;}
.col-2 {background-color: green;}
.col-3 {background-color: blue;}
.col-4 {background-color: yellow;} */

