/* ================================================
                  DEFAULT VALUES:

                  Font family:   Roboto Condensed

                  Greenish Blue: #34c6d3 (Buttons, Icons, Lines & Bckgrounds)
                  Steel Gray:  #41464b (Headings)
                  Blue Bayoux: #64707b (Paragraphs)
                  white: #fff (text with black backgrounds)
                  Black: #000 ()
              




==================================================== */

body {
  font-family: "Roboto Condensed", sans-serif;
}




